#root{
    width: 500px;
    margin: 50px auto 0;
    z-index: 1;
}

.container{
    padding: 30px;
    border: 1px solid black;
}

.ul{
    margin: 0;
    list-style-type: none;
    z-index: 2;
}

.nested{
    display: none;
}

.active {
    display: block;
}

.row_inner{
    display: flex;
    flex-direction: row;
}

.row_inner:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.folder{
    color: #edbc0b;
}
.file{
    color: #b0b0b0;
}

.title{
    margin: auto 0 auto 5px;
}

.menu {
    width: 100px;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: fixed;
    display: none;
    z-index: 9999;
}

.active{
    display: block;
}

.menu_ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_li {
    font-weight: 500;
    font-size: 10px;
    padding: 10px 40px 10px 20px;
    cursor: pointer;
}

.menu_li:hover {
     background: rgba(0, 0, 0, 0.2);
 }

.menu {
    margin: 0;
    padding: 0;
    position: fixed;
    list-style: none;
    background: #000000;
    display: none;
}
.menu.active {
    display: block;
}
.menu_li {
    color: white;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 10px;
}
.menu_li:hover {
    background: #333333;
}

.menu_li:disabled{
    background-color: #edbc0b;
}

.focused{
    background-color: lightskyblue;
}

.edit_input{
    outline: none;
}

.disable{
    pointer-events: none;
}