body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  background-color: white; }

.header {
  background-image: url("../img/m-h-day.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 50% left 0;
  border-bottom-right-radius: 38%;
  padding-bottom: 100px; }
  .header-wrap {
    padding: 20px 30% 0 10%; }
    .header-wrap .header_heading {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 60px;
      font-weight: bold;
      line-height: 1.11;
      color: #2c2f3c;
      letter-spacing: 1px;
      opacity: .9;
      margin: 30px 0;
      width: 40vw;
      position: relative;
      z-index: 2; }
      .header-wrap .header_heading::after {
        content: "";
        position: absolute;
        top: 85px;
        left: 0;
        width: 257px;
        height: 45px;
        background-color: #14a0c7;
        z-index: -1; }
    .header-wrap .header_text {
      font-family: "Hind", sans-serif;
      font-size: 12px;
      opacity: 0.6;
      white-space: pre-line;
      margin: 0;
      line-height: 1.6;
      color: #000; }

.landing-logo, .footer-wrap .footer_logo {
  display: flex;
  flex-direction: row; }
  .landing-logo p, .footer-wrap .footer_logo p {
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    opacity: 0.7; }
    .landing-logo p span, .footer-wrap .footer_logo p span {
      font-size: 10px;
      margin: 0 auto 0 auto; }

.header-wrap div:last-child {
  margin-top: 40px; }

.header_button, .section_banner_button {
  color: white;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 12px;
  background-color: #699900;
  padding: 11px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block; }

.login {
  color: white;
  margin-left: 140px;
  font-size: 15px;
  font-family: "Source Sans Pro", sans-serif; }

.section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section .section_text {
    text-align: center;
    color: #000;
    font-size: 35px;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
    position: relative;
    z-index: 2; }
    .section .section_text::after {
      content: "";
      position: absolute;
      top: 0;
      left: 180px;
      width: 158px;
      height: 45px;
      background-color: #14a0c7;
      z-index: -1; }
  .section_card_wrap {
    width: 700px; }
    .section_card_wrap .section_card {
      display: flex;
      flex-direction: row;
      margin: 15px 0;
      padding: 10px;
      background-color: #21232e;
      border-radius: 5px; }
      .section_card_wrap .section_card_img {
        width: 100%;
        height: 100%;
        border-radius: 5px; }
      .section_card_wrap .section_card_right_container {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .section_card_wrap .section_card_right_container .section_card_heading {
          color: white;
          font-family: "Source Sans Pro", sans-serif;
          margin: 30px 0 20px 0;
          line-height: .9;
          font-weight: 600; }
        .section_card_wrap .section_card_right_container .section_card_text {
          color: white;
          opacity: .7;
          padding: 0 60px;
          line-height: 1.5;
          font-size: 10px;
          font-family: "Hind", sans-serif;
          text-align: justify; }
        .section_card_wrap .section_card_right_container .section_link {
          color: white;
          opacity: .7;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 10px;
          padding-top: 15px; }

.section_card:first-child {
  margin-top: 0; }

.section_banner {
  margin: 80px auto -50px auto;
  width: 750px;
  background: linear-gradient(90deg, #65950d 0%, #2c5adb 100%);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .section_banner_text_wrap {
    padding: 20px 0 20px 110px;
    position: relative;
    z-index: 2; }
    .section_banner_text_wrap::after {
      content: "";
      position: absolute;
      top: 9px;
      left: 190px;
      width: 42px;
      height: 33px;
      background-color: #14a0c7;
      z-index: -1; }
    .section_banner_text_wrap .section_banner_heading {
      font-family: "Source Sans Pro", sans-serif;
      color: #000;
      z-index: 100;
      opacity: 0.6;
      font-size: 20px;
      font-weight: bold;
      margin: 0; }
    .section_banner_text_wrap .section_banner_text {
      margin: 15px 0 10px 0;
      font-size: 10px;
      opacity: .6;
      color: white; }
  .section_banner_button {
    margin: auto auto; }

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #21232e; }
  .footer-wrap {
    padding: 100px 150px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 10px; }
    .footer-wrap .footer_logo {
      width: 20%;
      height: 20%; }
      .footer-wrap .footer_logo p {
        color: white; }
    .footer-wrap .footer_text {
      margin: 0;
      width: 20%;
      opacity: .4; }
    .footer-wrap .footer-cr {
      width: 20%;
      opacity: .4; }
