:root{
    --font-header : 'Roboto', sans-serif;
    --font-content : 'Open Sans', sans-serif;
    --yellow: #f8cb8a;
    --grey: #808080;
    --background-color: #0b013c;
}

body{
    margin: 0;
    color: #111;
    z-index: 2;
    background-color: #fefaf3;
}

.header{
    font-family: var(--font-header);
    background-color: var(--background-color);
    width: 100%;
    max-height: 100vh;
}

.header_i{
    width: 900px;
    margin: 0 auto;
}

.header_inner{
    width: 100%;
    height: 100%;
    position: relative;
}

.header_img{
    z-index: 1;
    width: 100%;
    height: 100%;
}

.heading{
    position: absolute;
    color: white;
    opacity: .9;
    top:3%;
    left: 11%;
    z-index: 100;
    max-width: 40%;
}

.logo{
    width: 90px;
    margin-top: 5px;
}

.logo_inner{
    border: white 1px solid;
    width: 100%;
    margin: 0;
    padding: 1px 3px;
    font-size: 15px;
    font-weight: normal;
}

.logo_inner>a{
    text-decoration: none;
    color: white;
}

.heading_header{
    font-size: 55px;
    font-weight: bold;
    margin-top: 90px;
}

.heading_subheader{
    font-size: 15px;
    margin-top: 10px;
}

.heading_text{
    font-family: var(--font-content);
    font-size: 10px;
    margin-top: 12px;
    margin-right: 50px;
}

.heading_form{
    margin-top: 10px;
}

.form_input{
    margin-top: 12px;
    padding: 7px 3px;
    border:none;
    font-size: 9px;
    width: 200px;
}

.form_input::placeholder{
    font-family: var(--font-header);
    opacity: .6;
    padding-left: 5px;
}

.form_button{
    font-family: var(--font-header);
    padding: 7px 3px;
    border:none;
    font-size: 9px;
    width: 60px;
    margin-left: 5px;
    background-color: var(--yellow);
}

.form_button:hover{
    background-color: #f6bb66;
    cursor: pointer;
}


.container{
    width: 700px;
    margin: 0 auto;
}

.article_first{
    margin: 50px 20px 50px;
    text-align: center;
}

.hgroup{
    color: var(--background-color);
}

.hgroup_first{
    font-family: var(--font-header);
    font-size: 15px;
    font-weight: lighter;
    margin: 0;
}

.hgroup_second{
    font-family: var(--font-header);
    font-size: 30px;
    margin: 10px 0 0;
}

.hgroup:after {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background-color: var(--yellow);
    margin: 20px auto;
}

.content_text{
    font-family: var(--font-content);
    color: var(--grey);
    font-size: 10px;
}

.article_second{
    margin-top: 80px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.section2_img{
    width: 66%;
    object-fit: fill;
}

.right_container{
    display: flex;
    flex-direction: column;
    padding: 20px 11px;
}

.right_container>.hgroup:after {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background-color: var(--yellow);
    margin: 20px 0;
}

.article_set{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

.article_third{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 320px;
}

.section3_img{
    width: 100%;
}

.content_text3{
    font-family: var(--font-content);
    font-size: 10px;
    opacity: .8;
    padding: 10px 10px;
}

.space{
    margin-top: 40px;
    background-color: #0b013c;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("../img/space-bg.png");
}

.space_inner{
    width: 550px;
    margin: 50px auto;
    color: white;
    text-align: center;
}

.space_text{
    font-family: var(--font-content);
    color: white;
    font-size: 10px;
    opacity: .9;
}

.space_inner>hgroup{
    color: white;
}

.footer{
    background-image: url("../img/footer-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 0;
}

.footer_text{
    color: white;
    width: 320px;
    height: 100%;
    margin: auto 0;
    white-space: pre-line;
}

.footer_header{
    font-family: var(--font-header);
    font-size: 25px;
    font-weight: bold;
}

.footer_contacts{
    font-family: var(--font-header);
    font-size: 11px;
    margin: 0;
    line-height: 1.7;
    opacity: .8;
}

.footer_contacts>a{
    text-decoration: none;
    color: white;
}

.footer_contacts>a:hover{
    text-decoration: underline;
}

.footer_img{
    width: 320px;
}