.tm-col-md-reverse {
    flex-direction: row-reverse;
}

.tm-mb-30 {
    margin-bottom: 30px;
}

.tm-bg-color-primary {
    background-color: #76cdd8;
}

.tm-text-color-primary {
    color: #76cdd8;
}

.btn-primary, .btn-secondary, .tm-bg-color-secondary {
    background-color: #019999;
    border-color: #019999;
}

.btn-primary:hover {
    background-color: #76cdd8;
    border-color: #76cdd8;
}

.tm-pricing-table {
    border-color: #019999;
}

.tm-pricing-table:hover {
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

.tm-pricing-table:hover .btn-secondary{
    background: #24d4d4;
}

.tm-form-header {
    background-color: #23d4d4;
}

.tm-card:hover {
    color: #76cdd8;
}

.tm-card:not(.tm-col-md-reverse):hover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 50px solid transparent;
    border-top: 50px solid #76cdd8;
    border-right: 50px solid #76cdd8;
}

.tm-col-md-reverse:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 50px solid transparent;
    border-top: 50px solid #76cdd8;
    border-left: 50px solid #76cdd8;
}

.img-fluid:hover {
    transform: scale(1.1);
}

.tm-pricing-table:hover .tm-pricing-discount {
    display: block;
}

.tm-pricing-table:hover .tm-pricing-discount__star {
    color: red;
}

.tm-pricing-table:hover .tm-pricing-discount__text {
    color: #24d4d4;
}

.form-control:focus, select:focus {
    border-color: #24d4d4;
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

button[type=submit]:hover{
    background-color: rgb(118, 205, 216);
}

.tm-contact-form{
    z-index: 2;
    margin-bottom: -55px;
    margin-top: -55px;
}

@media print {
    .btn{
        text-decoration: none;
    }
}