body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 70px;
    background-color: #99ccff;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: .8;
}

.header_logo{
    font-size: 30px;
    color: #fff;
    font-weight: 300;
}

.header_logo>span{
    color: #484848;
}

.nav-toggle{
    display: none;

    position: absolute;
    top: 20px;
    left: 49%;
    z-index: 1;

    border: 0;
    background: none;
    cursor: pointer;
    font-size: 0;
    color: transparent;
    width: 20px;
    padding: 15px 0;
}

.nav-toggle:focus{
    outline: none;
}

.nav-toggle__item{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item{
    background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;
}


.nav-toggle__item:before{
    top: -5px;
}

.nav-toggle__item:after{
    bottom: -5px;
}

.nav{
    font-size: 14px;
}

.nav_link{
    text-align: center;
    width: 60px;
    padding: 27px 15px 26px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
}

.nav_link:hover{
    background-color: #587ca6;
}

.section{
    width: 100%;
    height: 500px;
    margin: 85px 0 30px;
    background-image: url("../img/section1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.section_text{
    padding: 270px 25px 100px;
    color: white;
    opacity: .8;
}

.section_header{
    font-size: 40px;
    font-weight: 300;
    margin: 0;
}

.section_description{
    font-size: 14px;
}

.content{
    margin: 10px 0 30px;
}

.parts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.part1{
    display: flex;
    flex-direction: column;
    width: 66%;
}

.row{
    display: flex;
    flex-direction: row;
}

.row:nth-child(even){
    flex-direction: row-reverse;
    text-align: right;
}

.row:nth-child(even) .post{
    flex-direction: row-reverse;
    margin-right: 10px;
}

.row:nth-child(1){
    background-color: #F3D250;
}
.row:nth-child(2){
    background-color: #8D8741;
}
.row:nth-child(3){
    background-color: #659DBD;
}
.row:nth-child(4){
    background-color: #DAAD86;
}

.row_img{
    width: 50%;
}

.row_post{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #484848;
    padding-bottom: 10px;
    height: 100%;
    margin: 0;
}

.date{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 300;
    margin-top: 10px;
}

.date_num{
    font-size: 35px;
}

.date_month{
    font-size: 20px;
}

.post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    cursor: pointer;
}

.post_inner{
    width: 80%;
}

.post_header{
    font-size: 30px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 10px;
}

.post_text{
    font-size: 13px;
    line-height: 1.6;
    margin: 0;
}

.row_post:hover{
    opacity: .6;
}

.part2{
    display: flex;
    flex-direction: column;
    width: 32%;
}

.card{
    margin-bottom: 20px;
    border: 1px #000 solid;
    display: flex;
    flex-direction: column;
}

.card_img{
    width: 100%;
}

.card_inner{
    margin: 35px 30px 30px;
}

.card_header{
    margin: 0;
    font-size: 25px;
    font-weight: 300;
}

.card_text{
    margin: 35px 0 30px;
    font-size: 13px;
    line-height: 1.4;
}

.card_button{
    background-color: white;
    border: 1px #000 solid;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 12px;
}
.card_button:hover{
    cursor: pointer;
    border: none;
    border-bottom: 1px #000 solid;
}

.footer{
    width: 100%;
    background-color: #162b4d;
}

.footer_inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-size: 15px;
    font-weight: 300;
    opacity: .7;
    padding: 35px 0;
}

.footer_copyright p, .footer_design p{
    margin: 0;
    padding-top: 5px;
}


@media screen and (max-width: 1279px) {

    .nav-toggle{
        display: block;
    }
    .nav{
        display: none;
    }
    .header_inner{
        flex-direction: column;
    }
    .header{
        height: 160px;
    }
    .header_logo{
        position: absolute;
        top:100px
    }
    .section{
        margin-top: 180px;
    }
    .section_text{
        padding-top: 150px;
    }
    .container{
        width: 90%;
    }
    .row, .row:nth-child(even){
        flex-direction: column;
    }
    .row_img{
        width: 100%;
    }
    .row_post{
        width: 100%;
        padding: 0;
    }
    .post, .row:nth-child(even) .post{
        width: 100%;
        flex-direction: column;
        text-align: left;
        margin: 30px;
    }
    .post_inner{
        width: 100%;
    }
    .date{
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        width: 100%;
        margin-top: 10px;
    }
    .date_month{
        padding-left: 5px;
    }
    .post_header{
        font-size: 45px;
    }
    .card_inner{
        margin:20px;
    }
    .footer_inner{
        flex-direction: column;
    }
    .footer_copyright>p, .footer_design>p{
        text-align: center;
    }
    .footer_design{
        margin-top: 10px;
    }
}

@media screen and (max-width: 767px){

    .container{
        width: 95%;
    }
    .parts{
        flex-direction: column;
    }
    .part1, .part2{
        width: 100%;
    }
    .card{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .date{
        margin:0;
    }
}