


.container{
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#game{
    flex-direction: column;
}

#startGame{
    background-color: coral;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-self: center;
}

#skipQuestion{
    background-color: bisque;
    border: none;
    color: black;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 10px auto;
    align-self: center;
    justify-content: center;
}

#startGame:disabled, #skipQuestion:disabled{
    background-color: lightgray;
}

p{
    margin-bottom: 0;
}

#blockQuestion{
    font-size: 20px;
}

.blockContent{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.content{
    width: 24%;
    height: auto;
    margin-top: 10px;

    background-color: bisque;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 10px auto;
    justify-content: center;
}

#showMessage{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}