#table{
    margin: 0 auto;
}

#table, .row, .cell{
    border: 1px solid black;
    border-collapse: collapse;
}

.cell{
    width: 100px;
    height: 100px;
    text-align: center;
}





#task2{
    width: 400px;
    margin: 100px auto;
}

#message{
    display: none;
    border: 1px solid black;
    margin-bottom: 15px;
}

#message_inner{
    padding-left: 10px;
    color: white;
}

#input_group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input{
    width: 300px;
    padding: 12px 15px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

.button{
    width: 70px;
}




#task3{
    margin: 0 auto;
    width: 600px;
}

#court{
    height: 330px;
    background-image: url("assets/court.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#leftZone{
    position: absolute;
    background-color: white;
    left: 558px;
    top: 156px;
    width: 15px;
    height: 15px;
}

#ball{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 145px;
    left: 280px;
    z-index: 20;
}

.scores{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#scoreMessage{
    display: none;
    text-align: center;
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
