@mixin flex-direction($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin color($color) {
  color: $color;
}

@mixin color-border-brad-fsize-fweight($color, $border, $border-rad, $fweight) {
  color: $color;
  border: $border;
  border-radius: $border-rad;
  font-weight: $fweight;
}

$fontsize: ("xs": 10px, "ss":12px, "s":15px, "m": 20px, "l": 35px, "xl": 60px);

body {
  font-family: $font-body;
  margin: 0;
  background-color: $body-background;
}

.header {
  background-image: $header-img;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 50% left 0;
  border-bottom-right-radius: 38%;
  padding-bottom: 100px;

  &-wrap {
    padding: 20px 30% 0 10%;

    .header_heading {
      font-family: $font-sans-pro;
      font-size: map_get($fontsize, "xl");
      font-weight: bold;
      line-height: 1.11;
      color: $heading-color;
      letter-spacing: 1px;
      opacity: .9;
      margin: 30px 0;
      width: 40vw;
      position: relative;
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        top: 85px;
        left: 0;
        width: 257px;
        height: 45px;
        background-color: $awesome-color;
        z-index: -1;
      }
    }

    .header_text {
      font-family: $font-header-text;
      font-size: map_get($fontsize, "ss");
      opacity: $header-text-opacity;
      white-space: pre-line;
      margin: 0;
      line-height: 1.6;
      color: $text-color;
    }
  }
}

.landing-logo {
  @include flex-direction(row);

  p {
    font-family: $logo-text-font;
    @include flex-direction(column);
    margin: 0;
    padding-left: 10px;
    font-size: map_get($fontsize, "m");
    font-weight: 600;
    color: $text-color;
    opacity: $logo-text-opacity;

    span {
      font-size: map_get($fontsize, "xs");
      margin: $logo-span-margin auto 0 auto;
    }
  }
}

.header-wrap div:last-child {
  margin-top: 40px;
}

.header_button {
  @include color-border-brad-fsize-fweight(white, none, 2px, bold);
  font-size: map_get($fontsize, "ss");;
  background-color: $button-color;
  padding: 11px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.login {
  @include color(white);
  margin-left: 140px;
  font-size: map_get($fontsize, "s");
  font-family: $font-sans-pro;
}


.section {
  margin: 0 auto;
  @include flex-direction(column);
  justify-content: center;
  align-items: center;

  .section_text {
    text-align: center;
    color: $text-color;
    font-size: map_get($fontsize, "l");
    font-weight: 600;
    font-family: $font-sans-pro;
    position: relative;
    z-index: 2;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 180px;
      width: 158px;
      height: 45px;
      background-color: $awesome-color;
      z-index: -1;
    }
  }

  &_card_wrap {
    width: 700px;

    .section_card {
      @include flex-direction(row);
      margin: 15px 0;
      padding: 10px;
      background-color: $card-background;
      border-radius: 5px;

      &_img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }

      &_right_container {
        @include flex-direction(column);
        align-items: center;

        .section_card_heading {
          @include color(white);
          font-family: $font-sans-pro;
          margin: 30px 0 20px 0;
          line-height: .9;
          font-weight: 600;
        }

        .section_card_text {
          @include color(white);
          opacity: .7;
          padding: 0 60px;
          line-height: 1.5;
          font-size: map_get($fontsize, "xs");
          font-family: $font-header-text;
          text-align: justify;
        }

        .section_link {
          @include color(white);
          opacity: .7;
          font-family: $font-sans-pro;
          font-size: map_get($fontsize, "xs");
          padding-top: 15px;
        }
      }
    }
  }
}


.section_card:first-child {
  margin-top: 0;
}


.section_banner {
  margin: 80px auto -50px auto;
  width: 750px;
  background: linear-gradient(90deg, $first-color 0%, $second-color 100%);
  border-radius: 5px;

  @include flex-direction(row);
  justify-content: space-between;

  &_text_wrap {
    padding: 20px 0 20px 110px;
    position: relative;
    z-index: 2;

    &::after {
      content: "";
      position: absolute;
      top: 9px;
      left: 190px;
      width: 42px;
      height: 33px;
      background-color: $awesome-color;
      z-index: -1;
    }

    .section_banner_heading {
      font-family: $font-sans-pro;
      color: $text-color;
      z-index: 100;
      opacity: $header-text-opacity;
      font-size: map_get($fontsize, "m");
      font-weight: bold;
      margin: 0;
    }

    .section_banner_text {
      margin: 15px 0 10px 0;
      font-size: map_get($fontsize, "xs");
      opacity: .6;
      @include color(white);
    }
  }

  &_button {
    margin: auto auto;
    @extend .header_button;
  }
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $card-background;

  &-wrap {
    padding: 100px 150px 50px;
    @include flex-direction(row);
    justify-content: space-between;
    align-items: center;
    @include color(white);
    font-size: map_get($fontsize, "xs");

    .footer_logo {
      @extend .landing-logo;
      width: 20%;
      height: 20%;
      p{
        color: white;
      }
    }

    .footer_text {
      margin: 0;
      width: 20%;
      opacity: .4;
    }

    .footer-cr {
      width: 20%;
      opacity: .4;
    }
  }
}