$header-img : url("../img/m-h-day.jpg");
$body-background: white;
$card-background: #21232e;
$heading-color: #2c2f3c;

$first-color: rgba(101,149,13,1);
$second-color: rgba(44,90,219,1);
$awesome-color: #14a0c7;

$font-body: 'Source Sans Pro', sans-serif;
$font-sans-pro: 'Source Sans Pro', sans-serif;
$font-hind: 'Hind', sans-serif;
$font-fresca: 'Fresca', sans-serif;

$font-header-text: 'Hind', sans-serif;
$text-color: #000;
$header-text-opacity: .6;

$logo-text-opacity: .7;
$logo-text-font: 'Source Sans Pro', sans-serif;
$logo-span-margin: 0;

$button-color: #699900;