$header-img : url("../img/m-h-night.jpg");
$body-background: #21232e;
$card-background: #3b3f50;
$heading-color: white;

$first-color: #dca008;
$second-color: #922b54;
$awesome-color: #ff4e33;

$font-body: 'Fresca', sans-serif;
$font-sans-pro: 'Source Sans Pro', sans-serif;
$font-hind: 'Hind', sans-serif;
$font-fresca: 'Fresca', sans-serif;

$font-header-text: 'Fresca', sans-serif;
$text-color: white;
$header-text-opacity: 1;

$logo-text-opacity: 1;
$logo-text-font: 'Fresca', sans-serif;
$logo-span-margin: 2px;

$button-color: #e3ac00;
