body {
    padding-top: 50px;
}

.modal-footer-extended {
    padding: 15px;
    text-align: right;
}

.add-new-button {
    float: right;
    margin-bottom: 10px;
}

.info-table-header-block {
    margin: 20px 0;
}

.center {
    text-align: center;
}

input[data-readonly] {
    pointer-events: none;
}

